<ion-header>
  <ion-toolbar>
    <ion-title>Materias</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" *ngIf="selected">
  <form (ngSubmit)="edit(selected)" #editForm="ngForm">
  <ion-list [inset]="true">
    <ion-item>
      <ion-input label="ID:" type="number" readonly="true" name="id" [(ngModel)]="selected.id" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Materia" type="text"  name="namesubject" [(ngModel)]="selected.namesubject" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Salon" type="text"  name="lounge" [(ngModel)]="selected.lounge" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Facultad" placeholder="Seleccióna la facultad" value="{{selected.faculty}}" [(ngModel)]="selected.faculty" name="faculty">
        <ion-select-option value="Arte y Diseño">Arte y Diseño</ion-select-option>
        <ion-select-option value="Ciencias Sociales y de la Administracción">Ciencias Sociales y de la Administracción</ion-select-option>
        <ion-select-option value="Educacion">Educacion</ion-select-option>
        <ion-select-option value="Ingenieria">Ingenieria</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Programa" placeholder="Seleccióna un programa" value="{{selected.program}}" [(ngModel)]="selected.program" name="program">
        <ion-select-option value="Desarrollo de Software">Desarrollo de Software</ion-select-option>
        <ion-select-option value="Ingenieria Informatica">Ingenieria Informatica</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Semestre" placeholder="Seleccióna un semestre" value="{{selected.semester}}" [(ngModel)]="selected.semester" name="semester">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
        <ion-select-option value="8">8</ion-select-option>
        <ion-select-option value="9">9</ion-select-option>
        <ion-select-option value="10">10</ion-select-option>
      </ion-select>
    </ion-item> 
  </ion-list>
  
  <ion-button expand="full" class="ion-margin-horizontal" slot="primary" type="submit" *ngIf="selected" [disabled]="!this.editForm.form.valid">
    <ion-icon name="brush-outline"></ion-icon>
    &nbsp;Modificar</ion-button>
</form>
  <ion-note color="medium" class="ion-margin-horizontal">
    Si deseas agregar una materia llena todos los campos.
  </ion-note>
  
</ion-content>